<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votação BBB</title>
    <link rel="stylesheet" href="../assets/styles.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <h2>BIG BROTHER BRASIL</h2>
    </nav>
  
    <div class="container">
      <h1>Quem você quer eliminar no Paredão BBB 2024?</h1>
      <p class="subtitle">Vote para definir quem deve deixar o Big Brother Brasil 2024 no primeiro paredão da temporada!</p>
      <form id="votingForm">
        <div id="participants">
        </div>
        <br>
        <button class="g-recaptcha" data-sitekey="6LefZ-QpAAAAAIOr0T-1JPVyATGGAhPWvJ3_QS1M" data-callback='onSubmit' data-action='submit'>
          Enviar
        </button>
      </form>
    </div>
    <script src="../assets/js/index.js"></script>
  </body>
</html>
