<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Votação BBB</title>
  <link rel="stylesheet" href="../assets/styles.css">
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <h2>BIG BROTHER BRASIL</h2>
  </nav>

  <div class="container">
    <h1>Painel BBB</h1>
    <p class="subtitle">Aqui você pode visualizar os votos computados até o momento para este Paredão.</p>

    <div id="participants-summary" class="vote-summary-container flex space-between">
      <div class="vote-summary">
        <div class="participant-name">Participante 1</div>
        <div class="percentage">45.33%</div>
        <div class="total-votes">
          <span>Total:</span><span>93</span>
        </div>
      </div>
      <div class="vote-summary">
        <div class="participant-name">Participante 2</div>
        <div class="percentage">54.67%</div>
        <div class="total-votes">
          <span>Total:</span><span>106</span>
        </div>
      </div>
    </div>
    <div id="total-summary" class="vote-summary-container flex space-between">
      <div class="vote-summary">
        <div class="participant-name">Votação Total</div>
        <div class="percentage">203</div>
        <div class="last-hour-votes">
          <span>Votos na última hora:</span><span>56</span>
        </div>
      </div>
    </div>
  </div>

  <a href="./index.html">Voltar para votação</a>  
  
  <script src="../assets/js/pannel.js"></script>
</body>
</html>
