<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Votação BBB</title>
  <link rel="stylesheet" href="../assets/styles.css">
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  <h2>BIG BROTHER BRASIL</h2>
  <div class="container">
    <div class="vote">
      <span class="vote-check">
        <img src="../assets/img/checked.png" alt="check mark" class="checkmark">
        <p class="subtitle">Seu voto foi computado com sucesso!</p>
      </span>
    </div>
    <div id="votes-partial">
      <div class="participant-partial"></div>
    </div>
    <br>
    <a href="./index.html">Voltar</a>
  </div>
  <script src="../assets/success.js"></script>
</body>
</html>
