body {
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: rgb(126, 34, 206);

}

.container {
  margin: 50px auto;
  width: 90%;
}

.container a {
  align-self: flex-end;
  width: 100%;
}

h1 {
  color: #333;
  font-size: 36px;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}

form {
  margin: 30px auto;
  display: block;
  max-width: 90%;
}

label {
  display: block;
  margin: 10px 0;
}

button {
  height: 60px;
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(126, 34, 206);
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

button:hover, a:hover {
  background-color: rgb(150, 77, 213);
}

a {
  padding: 15px 20px;
  background-color: rgb(126, 34, 206);
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  align-content: center;
}

#error, #success {
  background-color: #f8d7da;
  color: #721c24;
  padding: 20px;
  margin: 20px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

.participant, .participant-partial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 15px 5px;
  margin-bottom: 10px;
}

.participant-partial {
  padding: 15px 20px;
}

.participant img {
  margin: -15px -5px;
  border-radius: 4px;
}

.option {
  font-size: 20px;
}

.subtitle {
  color: #a5a5a5;
  font-style: italic;
  font-size: 18px;
  text-align: center;
}

.checkmark {
  width: 30px;
  height: 30px;
  align-content: center;
}

.vote-check {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -10px;
  flex-wrap: wrap;
  justify-content: center;
}

.vote-check .subtitle {
  font-size: 28px;
  font-weight: 100;
  font-style: normal;
}

.vote {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#votes-partial {
  width: 90%;
  margin: 0 auto;
}

.button-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

#votes-partial .participant {
  padding: 20px;
}

.flex {
  display: flex;
  gap: 10px;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.vote-summary-container {
  margin: 10px auto;
}

.vote-summary {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.vote-summary .participant-name {
  color: #959595;
}

.vote-summary .percentage {
  font-size: 28px;
  font-weight: 600;
}

.vote-summary .total-votes {
  display: flex;
  gap: 5px;
  justify-content: center;
}